.button {
  border-radius: 10px;
  /* background: #706bf8; */
  box-shadow: 10px 10px 20px 0px #dae0ec, -10px -10px 20px 0px #fff;
  border: none;
  color: white;
  width: 130px;
  height: 35px;
  align-self: flex-end;
  font-weight: 500;
  font-size: 13px;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
}

.bareButton {
  color: black;
}
